.nav{
    height:50px;
    width: 400px;
    float: right;
    border-bottom: 1px solid #edeef0;
    margin:0px 0px 5px 0px;
    /*background-color: rgb(52,58,64);*/
    background: #ccc;
    text-align: center;
}
.nav a{

    line-height: 50px;
    /*color: rgb(154,157,144);*/
    color: black;
    font-weight: bold;
    display: inline-block;
    text-decoration: none;
    padding: 0px 18px;
}
.nav a:hover{
    /*color: rgb(204,206,198);*/
    color: rebeccapurple;
}