{% extends "base.html" %}
{% block stylesheet %}
    <link rel="stylesheet" href="../static/css/nav.css">
    <link rel="stylesheet" href="../static/css/index.css">
{% endblock %}
{% block title %}主页{% endblock %}
{% block body %}

    <div style="height: 50px;background-color: #ccc">
<div class="nav">
    <a href="#">首页</a>
    <a href="#"></a>
    <a href="/reservation">预定教室</a>
    <a href="/find">查询</a>
    <a href="#" style="color: #8B7D7B">{{ currentuser }}</a>

</div></div>

    <div class="main">
        <div class="box">
        {% for roomname,status in roomstatsitems  %}
            <div     class="container">
            {% if status=="youke" %}
                <div class="center"><a href="#"><span style="color: black">{{ roomname }}</span><br><b>状态：</b><span style="color: red">{{ status }}</span></a></div>
            {% elif status=="yijingyuding" %}
                <div class="center"><a href="#"><span style="color: black">{{ roomname }}</span><br><b>状态：</b><span style="color: #ce8483">{{ status }}</span></a></div>
            {% else %}
                <div class="center"><a href="#"><span style="color: black;font-size: large">{{ roomname }}</span><br><b>状态：</b><span style="color: green">{{ status }}</span></a></div>
            {% endif %}
            </div>
        {% endfor %}
        </div>
    </div>
{% endblock %}