{% extends "base.html" %}
{% block stylesheet %}

    <link rel="stylesheet" href="../static/css/index.css">
{% endblock %}
{% block title %}主页{% endblock %}
{% block body %}



    <div class="main">
        <div class="box">
            {% for roomname,status in roomstatsitems %}
                <div class="container">
                    {% if status=="youke" %}
                        <div class="center"><a href="#"><span
                                style="color: black">
                            <a href="/room/{{ roomname }}">{{ roomname }}</a>
                        </span><br><b>状态：</b><span
                                style="color: red">{{ status }}</span></a></div>
                    {% elif status=="yijingyuding" %}
                        <div class="center"><a href="#"><span
                                style="color: black">
                            <a href="/room/{{ roomname }}">{{ roomname }}</a>
                        </span><br><b>状态：</b><span
                                style="color: #ce8483">{{ status }}</span></a></div>
                    {% else %}
                        <div class="center"><a href="#"><span
                                style="color: black;font-size: large">
                            <a href="/room/{{ roomname }}">{{ roomname }}</a>
                        </span><br><b>状态：</b><span
                                style="color: green">{{ status }}</span></a></div>
                    {% endif %}
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}