{% extends "base.html" %}

{% block title %}预约人信息{% endblock %}

{% block script %}

    <script>
        $(document).ready(function () {
            var timelist=[]
                for (i=1;i<=id;i++){
                    timelist[i-1]=$("#" + "time" + i + "select").val()
                }
            $("#quxiao").click(function () {
                $.post("/cancel",
                    {
                        classroom: $('#YongInput1').val(),
                        sunday: $('#YongInput3').val(),
                        date: $('#YongInput2').val(),
                        time: timelist[0]
                    }
                );
            });
            $('#yuding').click(function () {
                $.post("/reservation",
                    {
                        classroom: $('#YongInput1').val(),
                        sunday: $('#YongInput3').val(),
                        date: $('#YongInput2').val(),
                        time: 一
                    }
                );
            });
        });
    </script>
{% endblock %}
{% block stylesheet %}
    <link rel="stylesheet" href="../static/css/reservation.css">
{% endblock %}
{% block  body %}

    <div class="identity_form container">
    <div style="width: 330px;height:400px;background: white;margin: 90px auto;padding-left: 21px;padding-top: 19px;border-radius: 10px;border: 1px">
        <form action="/reservation" method="post">

            <div class="form-group">
                <label for="exampleInputEmail1">教室</label>
                <input type="text" class="form-control" id="YongInput1" placeholder="教室" required="required" style="width: 290px" name="classroom">
            </div>
            <div class="form-group">
                <label for="exampleInputEmail1">第几周</label>
                <input type="text" class="form-control" id="YongInput2" placeholder="第几周" required="required" style="width: 290px"
                       name="date">
            </div>
            <div class="form-group">
                <label for="exampleInputEmail1">星期</label>
                <input type="text" class="form-control" id="YongInput3" placeholder="星期几" required="required"  style="width: 290px"
                       name="sunday">
            </div>

            <select class="custom-select custom-select-md " id="time1select" name="time1select"
                    style="width: 150px;">
                <option value="none" selected>使用时间</option>
                <option value="一">第一节</option>
                <option value="二">第二节</option>
                <option value="三">第三节</option>
                <option value="四">第四节</option>
                <option value="五">第五节</option>
                <option value="六">第六节</option>
                <option value="七">第七节</option>
                <option value="八">第八节</option>
                <option value="九">第九节</option>
                <option value="十">第十节</option>
                <option value="十一">第十一节</option>
                <option value="十二">第十二节</option>
            </select>

            <button id="addtime" class="btn btn-primary ">+</button>
            <script>
                var id = 1;

                $("#addtime").on("click", function () {

                    var prev = "time" + id + "select";
                    id++;
                    nexthtml = '           <select class="custom-select custom-select-md " id="time' + id + 'select" name="time' + id + 'select" style="width: 150px;>\n' +
                        '                <option value="none" selected>使用时间</option>\n' +
                        '                <option value="none" selected>使用时间</option>\n' +
                        '                <option value="一">第一节</option>\n' +
                        '                <option value="二">第二节</option>\n' +
                        '                <option value="三">第三节</option>\n' +
                        '                <option value="四">第四节</option>\n' +
                        '                <option value="五">第五节</option>\n' +
                        '                <option value="六">第六节</option>\n' +
                        '                <option value="七">第七节</option>\n' +
                        '                <option value="八">第八节</option>\n' +
                        '                <option value="九">第九节</option>\n' +
                        '                <option value="十">第十节</option>\n' +
                        '                <option value="十一">第十一节</option>\n' +
                        '                <option value="十二">第十二节</option>\n' +
                        '            </select>'

                    $("#" + prev).after(nexthtml)
                })




            </script>

            <br>
            <br>
            <button type="submit" class="btn btn-primary" id="yuding">提交预约</button>
            <button href="/cancel" style="color: white" class="btn btn-primary" id="quxiao">取消预约</button>
            <a href="/" style="color: white" id="quxiao" class="btn-primary btn">返回主页</a>
        </form>
    </div>
    </div>

{% endblock %}
