{% extends "base.html" %}
{% block title %}{{ roomname }}{% endblock %}
{% block body %}


    <script>
        function displaycontent(e) {
            dijizhou = e.dataset.dijizhou;
            zhouji = e.dataset.zhouji;

            id = "#" + dijizhou + "_" + zhouji;

            console.log(id);

            $(".content").hide();
            $(id).show();
        }


    </script>
    <br>
    <div class="container">
        <div class="row">
            <div class="col-3" style="background-color: #0c5460;height: 500px;">
                <hr>
                {% for i in range(week,8) %}
                    <a class=" btn btn-primary {% if i==todayweek %}btn-warning{% endif %}"
                       style="margin-top: 10px;margin-right: 5px" data-dijizhou="{{ dijizhou['thisweek'] }}"
                       data-zhouji="{{ i }}" href="#" onclick="displaycontent(this)"> 星期{{ i }}</a>
                {% endfor %}
                <hr>
                {% for i in range(1,week) %}
                    <a class=" btn btn-primary" style="margin-top: 10px;margin-right: 5px"
                       data-dijizhou="{{ dijizhou['nextweek'] }}" data-zhouji="{{ i }}" href="#"
                       onclick="displaycontent(this)"> 星期{{ i }}</a>
                {% endfor %}
            </div>


            <div class="col-9" style="background-color: #cccccc;height: 500px;">
                {% for i in range(week,8) %}
                    <div data-contentdijizhou="{{ dijizhou['thisweek'] }}" data-contentzhouji="{{ i }}"
                         id="{{ dijizhou['thisweek'] }}_{{ i }}" style="display:none" class="content">
                        <h3>周{{ i }}</h3>
                        <br>

                        <div class="card-columns">
                            {% for ii in ['一','二','三','四','五','六','七','八','九'] %}
                                {% if({'dijijie':ii , 'zhouji': i, 'dijizhou': dijizhou['thisweek']} in youke) %}
                                    <div class="card">
                                        <h5 class="card-header">第{{ ii }}节</h5>
                                        <div class="card-body">
                                            <p class="card-text">有课</p>
                                        </div>
                                    </div>
                                {% else %}
                                    <div class="card">
                                        <h5 class="card-header">第{{ ii }}节</h5>

                                        <div class="card-body">
                                            <span class="card-text">没课  </span>
                                            <a href="/reservation?classroom={{ roomname }}&sunday={{ i }}&date={{ dijizhou['thisweek'] }}&time={{ ii }}">预定</a>
                                        </div>
                                    </div>
                                {% endif %}
                            {% endfor %}
                        </div>
                    </div>
                {% endfor %}



                {% for i in range(1,week) %}
                    <div data-contentdijizhou="{{ dijizhou['nextweek'] }}" data-contentzhouji="{{ i }}"
                         id="{{ dijizhou['nextweek'] }}_{{ i }}" style="display:none" class="content">
                        <h3>周{{ i }}</h3>
                        <br>

                        <div class="card-columns">
                            {% for ii in ['一','二','三','四','五','六','七','八','九'] %}
                                {% if({'dijijie':ii , 'zhouji': i, 'dijizhou': dijizhou['nextweek']} in youke) %}


                                    <div class="card">
                                        <h5 class="card-header">第{{ ii }}节</h5>
                                        <div class="card-body">
                                            <p class="card-text">有课</p>
                                        </div>
                                    </div>
                                {% else %}


                                    <div class="card">
                                        <h5 class="card-header">第{{ ii }}节</h5>

                                        <div class="card-body">
                                            <span class="card-text">没课</span>
                                            <a href="/reservation?classroom={{ roomname }}&sunday={{ i }}&date={{ dijizhou['nextweek'] }}&time={{ ii }}">预定</a>
                                        </div>
                                    </div>
                                {% endif %}


                            {% endfor %}
                        </div>
                    </div>

                {% endfor %}


            </div>

        </div>

    </div>



    <script>

        id = "#" + {{  dijizhou['thisweek'] }} +"_" + {{ todayweek }};

        $(id).show();

    </script>





{% endblock %}